
.header {
    background-image: url("../img/fotoheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 32px 0;
}

footer h4 {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
